<!DOCTYPE html>
<html>
	<head>
		<title>LIVE</title>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>
	<body>
			<%=   render "partials/navigation"%>
			<div class="text-center white-text little-text" style='<%= 'display:none;' if notice.nil? and alert.nil? %>'>
				<p class='alertas' style="<%= 'display:none;' if alert.nil? %>"><%= alert %></p>
				<p class='noticias' style='<%= 'display:none;' if notice.nil? %>'><%= notice %></p>
			</div>
			<div class="main">
				<%= yield %>
			</div>
			<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
			<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>
				<script>
				$.material.init();
			</script>
	</body>
</html>

